<a href="https://colab.research.google.com/github/Ayanjyoti2003/DAP-lab/blob/main/Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Print "Hello, World!".

In [1]:
print("Hello, World!")

Hello, World!

2. Calculate the sum of two numbers.

In [ ]:
a,b=2,5
sum=a+b
print("sum of",a,"&",b,"=",sum)

sum of 2 & 5 = 7

3. Find the square of a number.

In [ ]:
a=3
square=a**2
print("suare of",a,"=",square)

suare of 3 = 9

4. Accept the user's name and greet them with it.

In [ ]:
a=input("Enter your name")
print("Greetings",a)

Enter your nameAyan
Greetings Ayan

5. Check whether a number is even or odd.

In [ ]:
a=4
if(a%2==0):
  print(a,"is even")
else:
   print(a,"is odd")

4 is even

6. Write a Python program that takes a list and returns a new list with unique elements of the first list.

In [9]:
a = [1, 2, 2, 3, 4, 4, 5]
b = list(set(a))
print("Original list:", a)
print("Unique elements:", b)

Original list: [1, 2, 2, 3, 4, 4, 5]
Unique elements: [1, 2, 3, 4, 5]

7. Convert Celsius to Fahrenheit.

In [10]:
celsius = 25
fahrenheit = (celsius * 9/5) + 32
print(celsius, "Celsius = ", fahrenheit, "Fahrenheit")

25 Celsius =  77.0 Fahrenheit

8. Calculate the area of a circle.

In [11]:
import math
r = 3
a = math.pi * (r ** 2)
print("Area of a circle with radius", r, "is:", a)

Area of a circle with radius 3 is: 28.274333882308138

9. Reverse a given string.

In [13]:
st = "Ayan"
re_st = st[::-1]
print("Reversed string:", re_st)

Reversed string: nayA

10. Check if a number is a prime number.

In [17]:
a = 11
t = 1
b=a//2
if a > 1:
    for i in range(2, b):
        if a % i == 0:
            t = 0
            break
if (t==1):
    print(a, "is a prime number")
else:
    print(a, "is not a prime number")

11 is a prime number

11. Calculate the factorial of a number.

In [24]:
a = 3
f = 1
for i in range(1, a + 1):
  f *= i
print("factorial of",a,"is",f)

factorial of 3 is 6

12. Find the largest item from a given list.

In [26]:
n = [8, 5, 2, 9]
l = max(n)
print("Largest item in the list", n, "is:", l)

Largest item in the list [8, 5, 2, 9] is: 9

13. Write a Python program to check whether a number is in a given range.

In [27]:
n = 5
a = 1
b = 10
if a <= n <= b:
    print(n, "is in the range", a, "to", b)
else:
    print(n, "is not in the range", a, "to", b)

5 is in the range 1 to 10

14. Calculate the number of upper case letters and lower case letters in a string.

In [29]:
a = "Hello World!"
u = sum(1 for char in a if char.isupper())
l = sum(1 for char in a if char.islower())
print("Uppercase letters:", u, "| Lowercase letters:", l)

Uppercase letters: 2 | Lowercase letters: 8