In [1]:
#1. Creating a Series using the pandas library
import pandas as pd
data = [10, 20, 30, 40]
series = pd.Series(data)
print(series)

0    10
1    20
2    30
3    40
dtype: int64

In [2]:
#2. Creating empty series
import pandas as pd
empty_series = pd.Series()
print(empty_series)

Series([], dtype: object)

In [3]:
#3. Creating a data frame using list.
import pandas as pd
data = [10, 20, 30, 40]
df = pd.DataFrame(data, columns = ['Numbers'])
print(df)

   Numbers
0       10
1       20
2       30
3       40

In [4]:
#4. Create pandas dataframe from list using dictionary
import pandas as pd
names = ['Alice', 'Bob', 'Charlie']
ages = [25, 30, 22]
cities = ['New York', 'London', 'Paris']
data = {'name': names, 'age': ages, 'city': cities}
df = pd.DataFrame(data)
print(df)

      name  age      city
0    Alice   25  New York
1      Bob   30    London
2  Charlie   22     Paris